@import 'vue.scss';
@import 'webflow.scss';

/* Fix to weird webflow ghost elements */
.w-embed {
  &:after,
  &:before {
    content: '';
    display: none;
  }
}

* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}
